<!DOCTYPE html>
<html lang="en">

<head>
    <title>ordering burgers</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <main>
        <header id="header">
            <h1>Welcome to BurgerOnline</h1>
            <img src="burger.jpg" alt="food" id="burgerpic">
        </header>
        <section id="burgerinfo">
            <h3>Select Burger</h3>
            <p>This is where you execute burger selection</p>
            <table>
                <thead>
                    <tr>
                        <th>Crispy no chicken</th>
                        <th>Plant beef</th>
                        <th>Halloumi burger</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="https://media.giphy.com/media/66e8QBYiL0COs/giphy.gif" alt="crispy burher" title="crispy no chicken burger" width="100"></td>
                        <td><img src="https://media.giphy.com/media/WBTUlyKBVlTTa/giphy.gif" alt="plant burger" title="plant beef" width="100"></td>
                        <td><img src="https://media.giphy.com/media/yoJC2JdQQSQA3PWovu/giphy.gif" alt="halloumi burger" title="halloumi burger" width="100"></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>vegan</li>
                                <li>750 kcal</li>
                                <li>contains <span class="allergi">gluten & nuts</span></li>
                            </ul>
                        </td>
                        <td>

                            <ul>
                                <li>veggie</li>
                                <li>690 kcal</li>
                                <li>contains <span class="allergi">soy & nuts</span></li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>veggie</li>
                                <li>780 kcal</li>
                                <li>contains <span class="allergi">gluten & eggs</span></li>

                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section id="customerinfo">
            <h3>Customer Information</h3>
            <p>This is where you provide necessary information</p>
            <h4>Delivery information</h4>
            <form>
                <p>

                    <label for="firstlastname">Full name</label><br>
                    <input type="text" id="firstlastname" name="fln" required="required" placeholder="First-and Lastname">
                </p>
                <p>
                    <label for="email">E-mail</label><br>
                    <input type="email" id="email" name="em" required="required" placeholder="E-mail address">
                </p>
                <p>

                    <label for="streetname">Street</label><br>
                    <input type="text" id="streetname" name="st" required="required" placeholder="Street name">
                </p>
                <p>

                    <label for="housenr">House</label><br>
                    <input type="number" id="housenr" name="hn" required="required" placeholder="House number">
                </p>
                <p>

                    <label for="payment">Payment options</label><br>
                    <select name="pym" id="payment">
                        <option selected>Credit card</option>
                        <option>Paypal</option>
                        <option>Apple pay</option>
                        <option>Swish</option>
                        <option>Faktura</option>
                    </select>
                </p>
                <p>
                    <label for="gender">Gender</label><br>
                    <input type="radio" name="gender" value="female">Female<br>
                    <input type="radio" name="gender" value="male"> Male<br>
                    <input type="radio" name="gender" value="nonbinary"> Non-binary<br>
                    <input type="radio" name="gender" value="ndisclosed" checked>Undisclosed
                </p>
                <button type="submit"><img src="https://media.giphy.com/media/3oKGz8Mr8stJzA0JDW/giphy.gif" width="6%"/>Place my order</button>

            </form>

        </section>
    </main>

    <footer>© Polack Burgers</footer>

</body>

</html>
</main>