<!DOCTYPE html>
<html lang="en">

<head>
    <title>ordering burgers</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://vuejs.org/js/vue.js" defer></script>
    <script type="text/javascript" src="js/menu.js"></script>
    <script src="js/js_script.js" defer></script>
    <script src="js/vue_script.js" defer></script>

</head>

<body>
    <main id="main">
        <header class="header">
            <h1 id="heading">Welcome to BurgerOnline</h1>
            <img src="burger.jpg" alt="food" id="burgerpic">
        </header>
        <section id="wrapper">
            <h3>Select Burger</h3>
            <p>This is where you execute burger selection</p>
            <div id="burgers">
                <div v-for="item in menu">
                    <p>{{item.name}} </p>
                    <img v-bind:src="item.img"><br>
                    <input type="checkbox" v-bind:value="item.name" name="burger">
                    <ul>
                        <li>
                            {{item.ingredients}}
                        </li>
                        <li v-if="item.lactose == true">
                            <p class="allergi">lactose</p>
                        </li>
                        <li v-if="item.gluten == true">
                            <p class="allergi">gluten</p>
                        </li>
                        <li>
                            {{item.kCal}} kCal
                        </li>
                    </ul>
                </div>
            </div>

        </section>

        <section id="customerinfo">
            <h3>Customer Information</h3>
            <p>This is where you provide necessary information</p>
            <h4>Delivery information</h4>
            <form>
                <label for="name">Full name</label><br>
                <input v-model="name" type="text " id="name" name="fln" required="required" placeholder="First-and Lastname"><br>

                <label for="email">E-mail</label><br>
                <input v-model="email" type="email" id="email" name="em" required="required" placeholder="E-mail address"><br>

                <!--<label for="streetname">Street</label><br>
                <input v-model="streetname" type="text" id="streetname" name="st" required="required" placeholder="Street name"><br>

                <label for="housenr">House</label><br>
                <input v-model="housenr" type="number" id="housenr" name="hn" required="required" placeholder="House number"><br>
                    -->
                <label for="payment">Payment options</label><br>
                <select v-model="payment" name="pym" id="payment">
                        <option selected>Credit card</option>
                        <option>Paypal</option>
                        <option>Apple pay</option>
                        <option>Swish</option>
                        <option>Faktura</option>
                    </select>

                <label for="gender">Gender</label><br>
                <input type="radio" v-model="gender" value="female" name="gender">Female<br>
                <input type="radio" v-model="gender" value="male" name="gender"> Male<br>
                <input type="radio" v-model="gender" value="nonbinary" name="gender"> Non-binary<br>
                <input type="radio" v-model="gender" value="undisclosed" name="gender" checked> Undisclosed<br>
                <div class="view-box">
                    <div id="dots" v-on:click="displayOrder">
                        <div v-bind:style="{ left: localOrder.details.x + 'px', top: localOrder.details.y + 'px'}">
                            T
                        </div>
                    </div>
                </div>

            </form>

            <button v-on:click="addOrder" type="button" id="orderButton" style="width:100px;height:50px;"><img src="https://media.giphy.com/media/3oKGz8Mr8stJzA0JDW/giphy.gif"/> Place my order</button><br>
            <span>Customer info:<br> {{name}}<br> {{email}}<br> {{payment}}<br> {{gender}}</span>
            <p v-for="item in burgers">{{item}}</p>

        </section>
    </main>

    <footer>© Polack Burgers</footer>

</body>

</html>